@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

@import './_imports.scss';

html {
  background: linear-gradient(to bottom,#8a61b3,#7d44f3);
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $PrimaryTextColor;
  font-family: 'Poppins', sans-serif;
}

.landing-page-main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}



